<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBxgNuMGAQKzUoUNh8MjZFC0E4QH46066E</string>
	<key>GCM_SENDER_ID</key>
	<string>354860494305</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.habitapp</string>
	<key>PROJECT_ID</key>
	<string>habitapp2-c71a2</string>
	<key>STORAGE_BUCKET</key>
	<string>habitapp2-c71a2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:354860494305:ios:d0ccc7453599259f2fb6a0</string>
</dict>
</plist>